<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/contacts-page/contacts-page.css" />
    <title>Contacts Page</title>
  </head>
  <body>
    <div class="pageWrapper">
      <h1>Contacts Page</h1>
    </div>
    <script src="/contacts-page/contacts-page.js"></script>
  </body>
</html>
